@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

#app {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: #f6f6f6;
  width: 100vw;
  height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* #region Modals */
.vue-universal-modal {
  z-index: 9999;
}

.modal {
  text-align: left;
  background: #f6f6f6;
}
/* #endregion Modals */